{% apply spaceless %}
  {% import _self as macro %}
  {# #########################################################################################
    ###Social Follow
    
    @param iconSize                 :: {string}    (required)   (defautl:w-7 h-7)
    @param listClasses              :: {string}    (optional)   (default: flex items-center)
    @param linkClasses              :: {string}    (optional)
  
    #USAGE:
    {% include
      '_includes/components/social-follow' with {
        iconSize: 'w-12 h-12',
        listClasses: 'p-12 bg-gray-200'
        linkClasses: 'text-white'
      }
    %}
  ########################################################################################## #}
  
  
  {# SETUP THE NETWORKS FROM THE CMS #}
  {% set networks = {
    facebook: {
      name: "Facebook",
      url: "https://facebook.com/",
      handle:socialMedia.facebookUsername,
    },
    twitter: {
      name: "Twitter",
      url: "https://twitter.com/",
      handle:socialMedia.twitterHandle,
    },
    instagram: {
      name: "Instagram",
      url: "https://instagram.com/",
      handle:socialMedia.instagramUsername
    },
    LinkedIn: {
      name: "LinkedIn",
      url: "https://www.linkedin.com/company/",
      handle:socialMedia.linkedinCompanyName
    },
    YouTube: {
      name: "YouTube",
      url:'',
      handle:socialMedia.youtubeUrl
    }
  } %}
  
  {# PARAMETERS #}
  {% set iconSize       = iconSize|default('w-7 h-7') %}
  {% set classes        = classes|default("flex items-center") %}
  {% set linkClasses    = linkClasses|default('') %}
  
  {% macro socialFollow(networks, iconSize, classes, linkClasses) %}
    {# BUILD THE MACRO - Manually update the classes for the <li> and <a> tags as required in the macro code #}
    
    <ul class="flex items-center">
      {% for network in networks %}
        {%- if network.handle|length -%}
          <li class="mr-2 // animate-grow-on-hover">
            <a href="{{ network.url ~ network.handle }}"
               title="{{ network.name }}"
               target="_blank" rel="noopener noreferrer"
               class="js-track-social-follow block hover:text-social-{{ network.name|lower }} hover:bg-white p-1 rounded-lg transition ease-in-out duration-200 transform hover:scale-110 {% if linkClasses %}{{ linkClasses }} {% endif %}  "
               data-url="{{ url(craft.app.request.pathInfo) }}"
            >
              {{ svg('@icons/social-' ~ network.name|lower ~ '.svg')|attr({ class:"fill-current block " ~ iconSize }) }}
              <span class="sr-only">{{ network.name }}</span>
            </a>
          </li>
        {%- endif -%}
      {% endfor %}
    </ul>
  {% endmacro %}
{% endapply %}

{# OUTPUT #}
{{ macro.socialFollow(networks, iconSize, classes, linkClasses) }}

{# ----------------------------------------------------------------------
   TAILWIND CSS DYNAMIC CLASES FOR PURGE CSS
-------------------------------------------------------------------------

  hover:text-social-facebook
  hover:text-social-twitter
  hover:text-social-instagram
  hover:text-social-linkedin
  hover:text-social-youtube

------------------------------------------------------------------------- #}
