{% apply spaceless %}
  {# ##########################################################################################
    ###Email
    @param email              :: {object} (required)
    @param classes            :: {string} (optional)
    @param emailQueryString   :: {string} (optional) (pass in query strings to tag on to the email link. E.G Setting the subject and body)

    #USAGE:
    {% include
      '_includes/components/tel' with {
        tel:entry.email.,
        classes:'text-lg text-blue hover:text-greener',
        emailQueryString: 'subject=Website Enquiy&amp;body=I was browsing your website and I want to make an enquiry."
      }
    %}

  ########################################################################################## #}
  
  {# Parameters #}
  {% set email              = email|default(companyInformation.email) %}
  {% set classes            = classes|default('font-light') %}
  {% set emailQueryString   = emailQueryString|default('') %}
{% endapply %}

{# OUTPUT #}
<a
  href="mailto:{{ email }}{{ emailQueryString }}"
  class="js-track-cta whitespace-no-wrap {{ classes }}"
  data-title="{{ email }}"
  data-url="{{ craft.app.request.absoluteUrl }}"
>
  {{ email }}
</a>