{% spaceless %}
  {% import _self as macro %}
  
  {# SETUP THE NETWORKS FROM THE CMS #}
  {#{% set networks = {#}
  {#facebook:    { name: "Facebook", url: "https://facebook.com/", handle:socialMedia.facebookUsername,  },#}
  {#twitter:    { name: "Twitter", url: "https://twitter.com/", handle:socialMedia.twitterHandle,  },#}
  {#instagram:   { name: "Instagram", url: "https://instagram.com/", handle:socialMedia.instagramUsername },#}
  {#LinkedIn:   { name: "LinkedIn", url: "https://www.linkedin.com/company", handle:socialMedia.linkedinCompanyName },#}
  {#YouTube:   { name: "YouTube", url:, handle:socialMedia.youtubeUrl },#}
  {#} %}#}
  
  {% set networks = {
    facebook:    { name: "Facebook", url: "http://facebook.com/", handle:socialMedia.facebookUsername,  },
    twitter:    { name: "Twitter", url: "http://twitter.com/", handle:socialMedia.twitterHandle,  }
  } %}
  
  {% set iconSize = iconSize|default('w-6 h-6') %}
  {% set classes = classes|default("list-reset // flex items-center") %}
  {% set linkClasses = linkClasses|default('') %}
  
  {% macro socialFollow(networks, iconSize, classes, linkClasses) %}
    {# BUILD THE MACRO - Manually update the classes for the <li> and <a> tags as required in the macro code #}
    
    <ul {% if classes %}class="{{ classes }}"{% endif %}>
      {% for network in networks %}
        {%- if network.handle|length -%}
          <li class="mr-4 // animate-grow-on-hover">
            <a href="{{ network.url ~ network.handle }}"
               title="{{ network.name }}"
               target="_blank" rel="noopener noreferrer"
               class="js-track-social-follow block hover:bg-social-{{ network.name|lower }} hover:text-social-{{ network.name|lower }} {% if linkClasses %}{{ linkClasses }} {% endif %}  "
               data-url="{{ url(craft.app.request.pathInfo) }}"
            >
              {{ svg('@webroot/assets/svg/social-' ~ network.name|lower ~ '.svg', class='fill-current block ' ~ iconSize) }}
              <span class="alt">{{ network.name }}</span>
            </a>
          </li>
        {%- endif -%}
      {% endfor %}
    </ul>
  {% endmacro %}
{% endspaceless %}

{# OUTPUT #}
{{ macro.socialFollow(networks, iconSize, classes, linkClasses) }}

