{% spaceless %}
  {% import _self as macro %}
  
  {# SETUP THE NETWORKS FROM THE CMS #}
  {% set networks = {
    facebook:    { name: "Facebook", url: "http://facebook.com/", handle:socialMedia.facebookUsername,  },
    instagram:   { name: "Instagram", url: "http://instagram.com/", handle:socialMedia.instagramUsername },
  } %}
  
{% set iconSize = iconSize|default('w-6 h-6') %}
{% set classes = classes|default("list-reset // flex") %}
{% set linkClasses = linkClasses|default('') %}
  
  {% macro socialFollow(networks, iconSize, classes, linkClasses) %}
  {# BUILD THE MACRO - Manually update the classes for the <li> and <a> tags as required in the macro code #}

    <ul {% if classes %}class="{{ classes }}"{% endif %}>
      {% for network in networks %}
        {%- if network.handle|length -%}
          <li class="mr-4 // animate-icon {{ network.name|lower }}">
            <a href="{{ network.url ~ network.handle }}"
               title="{{ network.name }}"
               target="_blank" rel="noopener noreferrer"
               class="js-track-social-follow {% if linkClasses %}{{ linkClasses }} {% endif %}  "
               data-url="{{ url(craft.app.request.pathInfo) }}"
            >
              <span class="fill-current block {{ iconSize }}">{{ svg('@webroot/assets/svg/social-' ~ network.name|lower ~ '.svg') }}</span>
              <span class="alt">{{ network.name }}</span>
            </a>
          </li>
        {%- endif -%}
      {% endfor %}
    </ul>
  {% endmacro %}
{% endspaceless %}

{# OUTPUT #}
{{ macro.socialFollow(networks, iconSize, classes, linkClasses) }}

