{% apply spaceless %}
  {# #########################################################################################
    ###Telephone
    @param tel        :: {object}   (requred)
    @param classes    :: {string}   (optional)

    #USAGE:
    {% include
      '_includes/components/tel' with {
        tel:entry.telephone.,
        classes:'text-lg text-blue hover:text-greener',
      }
    %}
    
  ########################################################################################## #}
  
  {# PARAMETERS #}
  {% set tel        = tel|default(companyInformation.telephone) %}
  {% set classes    = classes|default('font-light') %}
{% endapply %}

{# OUTPUT #}
<a
  href="tel:{{ tel }}"
  class="js-track-cta whitespace-no-wrap {{ classes }}"
  data-title="{{ tel }}"
  data-url="{{ craft.app.request.absoluteUrl }}"
>
  {{ tel }}
</a>